<h1>
  <% if @block.connections.trunk %>
    <%= @block.trunk.username %>
  <% else %>
    Pending block <%= @block.id %>
  <% end %>
</h1>

<% if @block.connections.trunk %>
  <section>
    <h1>Trunk</h1>

    <p>
      <% if @block.trunk.username %>
        <%= @block.trunk.username %>
      <% else %>
        Processing...
      <% end %>
      (<%= @block.trunk.provider %> / <%= @block.trunk.external_id %>)
    </p>
  </section>
<% else %>
  <p>
    Currently we haven't processed the trunk.
  </p>
<% end %>

<% if @block.leafs.any? %>
  <section>
    <h1>Leafs</h1>
    <ol>
      <% @block.leafs.each do |leaf| %>
        <li>
          <% if leaf.username %>
            <%= leaf.username %>
          <% else %>
            Processing...
          <% end %>
          <%= form_tag exemptions_path, method: :post, style: "display: inline;" do %>
            <%= hidden_field_tag :id, leaf.id %>
            <%= submit_tag "exempt" %>
          <% end %>
        </li>
      <% end %>
    </ol>
  </section>
<% else %>
  <p>
    Currently we haven't processed any leaf nodes.
  </p>
<% end %>
<% if @block.exemptions %>
  <section>
    <h1>Exemptions</h1>
    <ol>
      <% @block.exemptions.each do |leaf| %>
        <li>
          <% if leaf.username %>
            <%= leaf.username %>
          <% else %>
            Processing...
          <% end %>
        </li>
      <% end %>
    </ol>
  </section>
<% else %>
  <p>
    Currently we haven't processed any exemptions.
  </p>
<% end %>
